body {
  background-color: pink;
  text-align: center;
}
.square {
  padding: 10px;
  border: 1px dashed black;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: top;
}
input {
  width: 100px;
  text-align: center;
}

.faded {
  width: fit-content;
  margin: 20px auto;
  background-color: rgba(146, 145, 145, 0.698);
}
.active {
  width: fit-content;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.561);
}

* {
  box-sizing: border-box;
}
